/* Block variables */

:root {
  --social-icon-size-mobile: 36px;
}

/* Base */

footer {
  background-color: var(--color-footer);
}

footer p {
  margin: 0;
}

footer a.button:any-link {
  display: inline-flex;
  padding: var(--size-12);
  font-size: var(--font-size-75);
  margin: 0;
}

footer .footer-inner-wrapper {
  padding: var(--responsive-spacing-vertical) var(--size-20);
}

footer .footer-brand {
  margin-bottom: var(--spacing-600);
}

footer .footer-brand .icon-logo {
  width: var(--size-144);
  height: auto;
}

footer .footer-tagline > .default-content-wrapper {
  padding: var(--spacing-800) 0 var(--spacing-700) 0;
}

footer .footer-tagline h1 {
  color: var(--color-brand-100);
  font-size: var(--type-header-1000-size);
  font-weight: var(--type-header-1000-weight-ultrabold);
  line-height: var(--type-header-1000-line-height);
  margin: 0;
  border-bottom: 1px solid var(--border-color-strong);
  padding-bottom: var(--spacing-600);
  letter-spacing: var(--letter-spacing-tight);
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-nav {
  padding-top: var(--size-72);
  padding-bottom: var(--spacing-200);
}

footer .footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}

footer .footer-nav li > a {
  color: var(--button-primary-text);
  font-size: var(--type-body-200-size);
  font-weight: var(--type-body-200-weight);
  line-height: var(--type-body-200-line-height);
  display: flex;
  gap: var(--spacing-600);
}

footer .footer-social-utility-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-700);
}

footer .footer-utility ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-600) var(--spacing-900);
  margin-bottom: var(--spacing-700);
}

footer .footer-utility li > a {
  font-size: var(--font-size-75);
  color: var(--typography-inverse);
}

footer .copyright-symbol {
  color: var(--color-grey-600);
  font-weight: var(--font-weight-bold);
}

footer .footer-social ul {
  display: flex;
  gap: var(--spacing-600);
}

footer .footer-social p {
  color: var(--typography-disabled);
  font-size: var(--font-size-75);
  margin-bottom: var(--spacing-200);
}

footer .footer-social .icon {
  width: var(--social-icon-size-mobile);
  height: auto;
}

footer .columns > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-900);
}

footer a.button-clone:any-link {
  display: none;
}

/* 510px+ */

@media (width >= 510px) {
  footer .footer-tagline > .default-content-wrapper {
    padding-top: var(--spacing-200);
  }

  footer .footer-tagline h1 {
    padding-bottom: 0;
  }
}

/* 720px+ */

@media (width >= 720px) {
  footer .footer-inner-wrapper {
    padding: var(--spacing-800) var(--spacing-900);
  }

  footer .footer-nav {
    padding-bottom: 0;
  }

  footer .footer-social-utility-wrapper {
    flex-direction: column-reverse;
  }

  footer .footer-utility ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-600);
    margin-bottom: 0;
  }

  footer a.original-button:any-link {
    display: none;
  }

  footer a.button-clone:any-link {
    display: inline-flex;
  }

  footer .footer-tagline h1 {
    font-size: var(--type-header-1200-size);
    padding-bottom: var(--size-20);
    font-weight: var(--type-header-1200-weight);
    line-height: var(--line-height-104p);
  }

  footer .footer-tagline > .default-content-wrapper {
    padding: var(--spacing-1200) 0 var(--spacing-700) 0;
  }

  footer .footer-social > .default-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer .footer-brand {
    margin-bottom: 0;
  }

  footer .footer-social .icon {
    width: var(--icon-size-lg);
  }
}

/* 1025px+ */

@media (width >= 1025px) {
  footer .footer-inner-wrapper {
    padding: var(--spacing-800) var(--spacing-600);
  }

  footer .columns > div {
    display: flex;
    justify-content: space-between;
    gap: unset;
  }
}

/* 1440px+ */

@media (width >= 1440px) {
  footer .footer-inner-wrapper {
    padding: var(--responsive-spacing-vertical) var(--responsive-spacing-horizontal);
  }

  footer .columns > div {
    gap: var(--spacing-900);
  }

  footer .footer-social-utility-wrapper {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  footer .footer-utility > .default-content-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-600);
  }

  footer a.button-clone:any-link {
    display: none;
  }

  footer a.original-button:any-link {
    display: inline-flex;
  }

  footer .footer-social .icon {
    width: var(--icon-size-md);
  }
}

/* 1920px+ */

@media (width >= 1920px) {
  footer .footer-inner-wrapper {
    width: var(--main-max-width);
    margin: auto;
  }
}
